@*<div>
    <span>@i</span>
    <button @onclick="Plus()">add</button>
</div>

@code {

    private int i = 0;

    [Parameter] public string pas { get; set; } = "1";

    void Plus()
    {
        //i = i + pas;
    }

}*@