@{
    ViewData["Title"] = "Nos services";
}

<style>

.card-deck {
    margin:0px;
}

.card-deck .card {
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.card-img-top {
    padding:10px;
}

</style>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Images/accounting-3190208_640.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Achat</h5>
            <div class="card-text">
                <p>Nous vous accompagnons dans l'acquisition de vos équipements et logiciels informatiques.</p>
                <p>A partir de votre besoin, nous sélectionnons ensemble les propositions. Puis, nous négocions pour vous les conditions tarifaires.</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/web-design-2038872_640x423.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Développement</h5>
            <div class="card-text">
                <p>Nous réalisons des sites internet sur-mesure.</p>
                <p>Après une étude de vos souhaits, nous concevons un site WEB dédié pour répondre au mieux à vos attentes.</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/software-development-4165307_640.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Formation</h5>
            <div class="card-text">
                <p>Nous vous enseignons à devenir autonome sur vos outils informatiques.</p>
                <p>Selon vos cas d'utilisation, nous créons un programme adéquate qui vous permettra d'utiliser vos équipements sans aide.</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

</div>

<div class="card-deck">

    <div class="card">
        <img class="card-img-top" src="~/Images/computer-3343887_640x423.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Assistance</h5>
            <div class="card-text">
                <p>Nous vous aidons à résoudre vos problèmes informatiques.</p>
                <p>Après analyse des difficultés que vous rencontrez, nous déterminons ensemble la meilleure solution.</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/application-3399516_640x423.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Conseil</h5>
            <div class="card-text">
                <p>Nous vous proposons également des services sur-mesure.</p>
                <p>Vous avez un autre besoin, nous pouvons vous guider dans la réalisation de votre projet.</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card border-0"></div>
</div>