@{
    ViewData["Title"] = "LegalNotice";
}

<h1 style="text-align:center">
    <span>Maps 1</span>
</h1>

<style>

       /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
       #map {
           height: 400px;
           width: 100%;
       }
       /* Optional: Makes the sample page fill the window. */
       html, body {
           height: 100%;
           margin: 0;
           padding: 0;
       }
</style>

<input type="button" value="Click to Display Map" onclick="initMap()" />
<div id="map"></div>

@section Scripts
{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMm968DvdBSqzKuyALgIKxQqUaVfBvxjw&callback=initMap">
    </script>
    <script type="text/javascript">

        // This example creates a simple polygon representing the Bermuda Triangle.
        // When the user clicks on the polygon an info window opens, showing
        // information about the polygon's coordinates.

        var map;
        var infoWindow;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 48.1598, lng: -1.6815 },
                mapTypeId: 'terrain'
            });

            // Define the LatLng coordinates for the polygon.
            //var triangleCoords = [
            //    {lat: 25.774, lng: -80.190},
            //    {lat: 18.466, lng: -66.118},
            //    {lat: 32.321, lng: -64.757}
            //  ];

            //var triangleCoords = [
            //    { lat: 48.185, lng: -1.725 },
            //    { lat: 48.19, lng: -1.7 },
            //    { lat: 48.18, lng: -1.67 },
            //    { lat: 48.165, lng: -1.675 },
            //    { lat: 48.16, lng: -1.64 },
            //    { lat: 48.145, lng: -1.635 },
            //    { lat: 48.135, lng: -1.65 },
            //    { lat: 48.14, lng: -1.665 },
            //    { lat: 48.13, lng: -1.675 },
            //    { lat: 48.13, lng: -1.7 },
            //    { lat: 48.155, lng: -1.705 },
            //    { lat: 48.155, lng: -1.715 },
            //    { lat: 48.18, lng: -1.73 },
            //    { lat: 48.185, lng: -1.725 }
            //];

            var triangleCoords = [
{ lat: 48.182076, lng: -1.7239076},
{ lat: 48.1813766, lng: -1.7236646},
{ lat: 48.1801532, lng: -1.7232108},
{ lat: 48.1793849, lng: -1.7229208},
{ lat: 48.1778295, lng: -1.7223625},
{ lat: 48.1773771, lng: -1.7222077},
{ lat: 48.1769852, lng: -1.7220736},
{ lat: 48.1767723, lng: -1.7219932},
{ lat: 48.1764116, lng: -1.7218883},
{ lat: 48.1759181, lng: -1.7217634},
{ lat: 48.1755094, lng: -1.721664},
{ lat: 48.1750997, lng: -1.7215508},
{ lat: 48.1748691, lng: -1.7214882},
{ lat: 48.1746358, lng: -1.7214359},
{ lat: 48.1744364, lng: -1.7213836},
{ lat: 48.1743776, lng: -1.721364},
{ lat: 48.1741918, lng: -1.7212936},
{ lat: 48.1740059, lng: -1.7212233},
{ lat: 48.1739413, lng: -1.7212052},
{ lat: 48.1738133, lng: -1.7211578},
{ lat: 48.1737088, lng: -1.7211149},
{ lat: 48.1733414, lng: -1.7209508},
{ lat: 48.172842, lng: -1.7207296},
{ lat: 48.1724139, lng: -1.7204878},
{ lat: 48.1719322, lng: -1.7201807},
{ lat: 48.171325, lng: -1.7197844},
{ lat: 48.1706509, lng: -1.7193314},
{ lat: 48.1700599, lng: -1.7189275},
{ lat: 48.1695094, lng: -1.7185503},
{ lat: 48.1684837, lng: -1.7178616},
{ lat: 48.1679701, lng: -1.7174598},
{ lat: 48.1676927, lng: -1.7172303},
{ lat: 48.1674154, lng: -1.7169849},
{ lat: 48.1671983, lng: -1.7167823},
{ lat: 48.166922, lng: -1.7165368},
{ lat: 48.1662107, lng: -1.7158993},
{ lat: 48.1659378, lng: -1.7156515},
{ lat: 48.1656792, lng: -1.7154184},
{ lat: 48.1653626, lng: -1.7151325},
{ lat: 48.1652895, lng: -1.7150652},
{ lat: 48.1651605, lng: -1.7149464},
{ lat: 48.164955, lng: -1.7147646},
{ lat: 48.1646594, lng: -1.7144998},
{ lat: 48.1642982, lng: -1.7141747},
{ lat: 48.1640312, lng: -1.7139332},
{ lat: 48.1636267, lng: -1.7135699},
{ lat: 48.1634086, lng: -1.713368},
{ lat: 48.1631595, lng: -1.713142},
{ lat: 48.1629117, lng: -1.7129174},
{ lat: 48.1626786, lng: -1.7127162},
{ lat: 48.162493, lng: -1.7125707},
{ lat: 48.162351, lng: -1.7124673},
{ lat: 48.1620471, lng: -1.7122488},
{ lat: 48.1618011, lng: -1.7120914},
{ lat: 48.161677, lng: -1.7120121},
{ lat: 48.161342, lng: -1.7117982},
{ lat: 48.1609738, lng: -1.7115736},
{ lat: 48.1601454, lng: -1.7110777},
{ lat: 48.1597077, lng: -1.7108051},
{ lat: 48.1597158, lng: -1.7107757},
{ lat: 48.159747, lng: -1.710663},
{ lat: 48.1597739, lng: -1.710571},
{ lat: 48.1602461, lng: -1.7104277},
{ lat: 48.1607942, lng: -1.7102839},
{ lat: 48.1609564, lng: -1.7102435},
{ lat: 48.1610868, lng: -1.7101964},
{ lat: 48.1609653, lng: -1.7098912},
{ lat: 48.1607139, lng: -1.7092286},
{ lat: 48.16036, lng: -1.7082947},
{ lat: 48.1602095, lng: -1.7079432},
{ lat: 48.1601088, lng: -1.7076926},
{ lat: 48.1600333, lng: -1.7073376},
{ lat: 48.1599831, lng: -1.7070038},
{ lat: 48.1599632, lng: -1.7065259},
{ lat: 48.1599638, lng: -1.7059951},
{ lat: 48.159921, lng: -1.7059632},
{ lat: 48.1574787, lng: -1.704095},
{ lat: 48.156642, lng: -1.7034907},
{ lat: 48.1558233, lng: -1.7029074},
{ lat: 48.1553685, lng: -1.7025834},
{ lat: 48.1551778, lng: -1.7024654},
{ lat: 48.154912, lng: -1.7023033},
{ lat: 48.1548028, lng: -1.7022245},
{ lat: 48.1546121, lng: -1.7020287},
{ lat: 48.153562, lng: -1.7012647},
{ lat: 48.1531669, lng: -1.7010013},
{ lat: 48.1526798, lng: -1.7006967},
{ lat: 48.1522337, lng: -1.7004608},
{ lat: 48.1517366, lng: -1.700217},
{ lat: 48.1511865, lng: -1.6999697},
{ lat: 48.1506744, lng: -1.6997614},
{ lat: 48.1503078, lng: -1.6996327},
{ lat: 48.1499777, lng: -1.6995286},
{ lat: 48.149397, lng: -1.6993655},
{ lat: 48.1486057, lng: -1.6991936},
{ lat: 48.1478316, lng: -1.6990481},
{ lat: 48.1458366, lng: -1.6987082},
{ lat: 48.1452611, lng: -1.6985944},
{ lat: 48.1450013, lng: -1.6985271},
{ lat: 48.1446837, lng: -1.6984409},
{ lat: 48.1444045, lng: -1.6983573},
{ lat: 48.1439072, lng: -1.6981874},
{ lat: 48.1435848, lng: -1.6980587},
{ lat: 48.1433093, lng: -1.6979354},
{ lat: 48.1432244, lng: -1.6980397},
{ lat: 48.1431385, lng: -1.6981726},
{ lat: 48.1431224, lng: -1.6982196},
{ lat: 48.143108, lng: -1.6983298},
{ lat: 48.143118, lng: -1.6984857},
{ lat: 48.1430499, lng: -1.698914},
{ lat: 48.1430754, lng: -1.6989365},
{ lat: 48.1431585, lng: -1.6990101},
{ lat: 48.1432556, lng: -1.6991731},
{ lat: 48.1433746, lng: -1.6993906},
{ lat: 48.1433576, lng: -1.6994609},
{ lat: 48.1433653, lng: -1.6994978},
{ lat: 48.143393, lng: -1.6995609},
{ lat: 48.1434433, lng: -1.699659},
{ lat: 48.1436116, lng: -1.699884},
{ lat: 48.1437468, lng: -1.7000735},
{ lat: 48.1437794, lng: -1.7001163},
{ lat: 48.1438909, lng: -1.7002529},
{ lat: 48.1440034, lng: -1.7003935},
{ lat: 48.1440943, lng: -1.7004613},
{ lat: 48.144143, lng: -1.7004895},
{ lat: 48.1441152, lng: -1.7005895},
{ lat: 48.1440688, lng: -1.7005602},
{ lat: 48.1440091, lng: -1.7007856},
{ lat: 48.1440032, lng: -1.7009588},
{ lat: 48.1439529, lng: -1.7010013},
{ lat: 48.1438787, lng: -1.7010659},
{ lat: 48.1438588, lng: -1.7011546},
{ lat: 48.1438389, lng: -1.7015079},
{ lat: 48.1438303, lng: -1.7016932},
{ lat: 48.1438118, lng: -1.7019141},
{ lat: 48.1437728, lng: -1.7021983},
{ lat: 48.1437667, lng: -1.7022506},
{ lat: 48.1438147, lng: -1.7022692},
{ lat: 48.1437895, lng: -1.702453},
{ lat: 48.1437161, lng: -1.7024219},
{ lat: 48.1431029, lng: -1.7021436},
{ lat: 48.1428925, lng: -1.7020423},
{ lat: 48.1427088, lng: -1.7019423},
{ lat: 48.1425097, lng: -1.701828},
{ lat: 48.1423277, lng: -1.7017109},
{ lat: 48.1421185, lng: -1.701566},
{ lat: 48.1420493, lng: -1.7015139},
{ lat: 48.1420165, lng: -1.7014907},
{ lat: 48.1415605, lng: -1.7011297},
{ lat: 48.1413536, lng: -1.7009524},
{ lat: 48.1411916, lng: -1.7008095},
{ lat: 48.141155, lng: -1.7007772},
{ lat: 48.1407692, lng: -1.7004175},
{ lat: 48.1403293, lng: -1.6999939},
{ lat: 48.1402137, lng: -1.6998788},
{ lat: 48.1400571, lng: -1.6997328},
{ lat: 48.1397347, lng: -1.6994222},
{ lat: 48.1394054, lng: -1.6991414},
{ lat: 48.1392366, lng: -1.6990054},
{ lat: 48.1390755, lng: -1.698872},
{ lat: 48.1388722, lng: -1.6987053},
{ lat: 48.138619, lng: -1.6985077},
{ lat: 48.1385698, lng: -1.6984681},
{ lat: 48.1383095, lng: -1.69829},
{ lat: 48.13796, lng: -1.6980756},
{ lat: 48.1379506, lng: -1.6980704},
{ lat: 48.1375505, lng: -1.6978501},
{ lat: 48.1372391, lng: -1.6976677},
{ lat: 48.1370796, lng: -1.6975592},
{ lat: 48.1369449, lng: -1.6974677},
{ lat: 48.1368067, lng: -1.6973477},
{ lat: 48.1366411, lng: -1.6971872},
{ lat: 48.1365549, lng: -1.6970948},
{ lat: 48.1365255, lng: -1.6970627},
{ lat: 48.1362198, lng: -1.696728},
{ lat: 48.1360625, lng: -1.6965559},
{ lat: 48.1358964, lng: -1.6963718},
{ lat: 48.1354052, lng: -1.6958343},
{ lat: 48.134934, lng: -1.695314},
{ lat: 48.134724, lng: -1.695081},
{ lat: 48.1346472, lng: -1.6950127},
{ lat: 48.1345578, lng: -1.6949143},
{ lat: 48.1344749, lng: -1.6948166},
{ lat: 48.1344472, lng: -1.6947835},
{ lat: 48.1343734, lng: -1.6946658},
{ lat: 48.1340943, lng: -1.6942273},
{ lat: 48.1339996, lng: -1.6940756},
{ lat: 48.1339254, lng: -1.6939508},
{ lat: 48.1338924, lng: -1.6938965},
{ lat: 48.1338294, lng: -1.6937872},
{ lat: 48.1338088, lng: -1.6937472},
{ lat: 48.1338059, lng: -1.6937421},
{ lat: 48.1337543, lng: -1.6936513},
{ lat: 48.1336365, lng: -1.6934473},
{ lat: 48.1335221, lng: -1.6932666},
{ lat: 48.1334534, lng: -1.6931542},
{ lat: 48.1333731, lng: -1.6930326},
{ lat: 48.1332716, lng: -1.6928915},
{ lat: 48.1331228, lng: -1.692698},
{ lat: 48.1329387, lng: -1.6924559},
{ lat: 48.1327613, lng: -1.6922449},
{ lat: 48.1327137, lng: -1.6921794},
{ lat: 48.1330727, lng: -1.6916123},
{ lat: 48.1331059, lng: -1.6915599},
{ lat: 48.133119, lng: -1.6915442},
{ lat: 48.1331611, lng: -1.6914993},
{ lat: 48.1332888, lng: -1.6912983},
{ lat: 48.1333523, lng: -1.6911978},
{ lat: 48.1333964, lng: -1.6911279},
{ lat: 48.1334537, lng: -1.6910372},
{ lat: 48.1335379, lng: -1.6909035},
{ lat: 48.1335707, lng: -1.6908516},
{ lat: 48.1335974, lng: -1.6908066},
{ lat: 48.1336336, lng: -1.6907421},
{ lat: 48.133713, lng: -1.6905873},
{ lat: 48.1337436, lng: -1.6904709},
{ lat: 48.1337977, lng: -1.6903168},
{ lat: 48.1338394, lng: -1.690198},
{ lat: 48.1338594, lng: -1.6901386},
{ lat: 48.1339768, lng: -1.689798},
{ lat: 48.133995, lng: -1.6897495},
{ lat: 48.1340623, lng: -1.6896144},
{ lat: 48.1341006, lng: -1.6895512},
{ lat: 48.1341105, lng: -1.6895334},
{ lat: 48.1341485, lng: -1.6894521},
{ lat: 48.134168, lng: -1.6894172},
{ lat: 48.1341855, lng: -1.6893911},
{ lat: 48.1342074, lng: -1.6893607},
{ lat: 48.1342285, lng: -1.6893363},
{ lat: 48.1342446, lng: -1.6893197},
{ lat: 48.1342739, lng: -1.6892987},
{ lat: 48.1344713, lng: -1.6892013},
{ lat: 48.1345651, lng: -1.6891395},
{ lat: 48.134613, lng: -1.6890997},
{ lat: 48.1346303, lng: -1.6890817},
{ lat: 48.1346406, lng: -1.6890684},
{ lat: 48.1346486, lng: -1.6890539},
{ lat: 48.1346533, lng: -1.6890429},
{ lat: 48.1346561, lng: -1.6890333},
{ lat: 48.1346576, lng: -1.689025},
{ lat: 48.1346585, lng: -1.6890166},
{ lat: 48.1346591, lng: -1.6890028},
{ lat: 48.1346573, lng: -1.6889854},
{ lat: 48.1346511, lng: -1.6889296},
{ lat: 48.1346336, lng: -1.6887721},
{ lat: 48.134618, lng: -1.6886556},
{ lat: 48.1345696, lng: -1.6882904},
{ lat: 48.1345343, lng: -1.6880259},
{ lat: 48.1345201, lng: -1.687845},
{ lat: 48.1345098, lng: -1.6877553},
{ lat: 48.1344981, lng: -1.6876804},
{ lat: 48.1344718, lng: -1.6875135},
{ lat: 48.1344653, lng: -1.6874671},
{ lat: 48.1344618, lng: -1.6874253},
{ lat: 48.1344614, lng: -1.6873824},
{ lat: 48.134462, lng: -1.6873419},
{ lat: 48.1344644, lng: -1.6873167},
{ lat: 48.1344673, lng: -1.6872998},
{ lat: 48.1344728, lng: -1.6872758},
{ lat: 48.1344828, lng: -1.6872397},
{ lat: 48.1344806, lng: -1.6871536},
{ lat: 48.1344824, lng: -1.6871339},
{ lat: 48.1345011, lng: -1.6869241},
{ lat: 48.1345239, lng: -1.6867064},
{ lat: 48.1345371, lng: -1.686588},
{ lat: 48.1345948, lng: -1.6862623},
{ lat: 48.1346083, lng: -1.6855851},
{ lat: 48.1346128, lng: -1.6854113},
{ lat: 48.1346211, lng: -1.6851748},
{ lat: 48.1346255, lng: -1.6850675},
{ lat: 48.1346324, lng: -1.6849712},
{ lat: 48.1346353, lng: -1.6849336},
{ lat: 48.134645, lng: -1.6848094},
{ lat: 48.1346492, lng: -1.6847548},
{ lat: 48.13467, lng: -1.6846496},
{ lat: 48.1347456, lng: -1.6845812},
{ lat: 48.1347871, lng: -1.6845563},
{ lat: 48.1347954, lng: -1.6844908},
{ lat: 48.1348064, lng: -1.6844179},
{ lat: 48.1348285, lng: -1.6842659},
{ lat: 48.1348425, lng: -1.6841668},
{ lat: 48.1348616, lng: -1.6840179},
{ lat: 48.1348851, lng: -1.6838339},
{ lat: 48.1349064, lng: -1.6836741},
{ lat: 48.1349218, lng: -1.6835468},
{ lat: 48.1349362, lng: -1.6834341},
{ lat: 48.1349966, lng: -1.6830094},
{ lat: 48.1351092, lng: -1.6830227},
{ lat: 48.13512, lng: -1.6829129},
{ lat: 48.1351314, lng: -1.6827917},
{ lat: 48.1351411, lng: -1.6826945},
{ lat: 48.135148, lng: -1.6826147},
{ lat: 48.1351502, lng: -1.6825704},
{ lat: 48.1351524, lng: -1.6824396},
{ lat: 48.135152, lng: -1.6823966},
{ lat: 48.1351498, lng: -1.6823586},
{ lat: 48.1351467, lng: -1.6823234},
{ lat: 48.1351429, lng: -1.6822948},
{ lat: 48.1351345, lng: -1.6822418},
{ lat: 48.1351154, lng: -1.6821607},
{ lat: 48.1350934, lng: -1.6820636},
{ lat: 48.1350666, lng: -1.6819553},
{ lat: 48.1350446, lng: -1.6818631},
{ lat: 48.1350133, lng: -1.6817551},
{ lat: 48.1349559, lng: -1.6815515},
{ lat: 48.1349113, lng: -1.6813926},
{ lat: 48.1348959, lng: -1.6812853},
{ lat: 48.1348817, lng: -1.6811869},
{ lat: 48.1348694, lng: -1.6811013},
{ lat: 48.1348569, lng: -1.6810196},
{ lat: 48.1348519, lng: -1.6809649},
{ lat: 48.1348502, lng: -1.6809447},
{ lat: 48.1348417, lng: -1.6808612},
{ lat: 48.1348378, lng: -1.680825},
{ lat: 48.1348334, lng: -1.6807842},
{ lat: 48.1348259, lng: -1.6807071},
{ lat: 48.1348142, lng: -1.6805773},
{ lat: 48.1348129, lng: -1.6805267},
{ lat: 48.1348122, lng: -1.6804748},
{ lat: 48.1348124, lng: -1.6804202},
{ lat: 48.1348144, lng: -1.6803853},
{ lat: 48.1348192, lng: -1.6803012},
{ lat: 48.134823, lng: -1.6802401},
{ lat: 48.1348279, lng: -1.6801408},
{ lat: 48.1348321, lng: -1.6800524},
{ lat: 48.1348338, lng: -1.6799923},
{ lat: 48.1348332, lng: -1.6799038},
{ lat: 48.1347867, lng: -1.6798178},
{ lat: 48.1346993, lng: -1.6796549},
{ lat: 48.1347572, lng: -1.6795689},
{ lat: 48.1348261, lng: -1.6794683},
{ lat: 48.1348906, lng: -1.679365},
{ lat: 48.1349362, lng: -1.6792725},
{ lat: 48.1349903, lng: -1.6791563},
{ lat: 48.1350597, lng: -1.6789895},
{ lat: 48.1352325, lng: -1.6785724},
{ lat: 48.1354858, lng: -1.6779381},
{ lat: 48.1356258, lng: -1.677617},
{ lat: 48.1358302, lng: -1.6771672},
{ lat: 48.1359288, lng: -1.6769772},
{ lat: 48.1359681, lng: -1.676923},
{ lat: 48.1360979, lng: -1.676777},
{ lat: 48.1363285, lng: -1.6764952},
{ lat: 48.1365154, lng: -1.6762319},
{ lat: 48.1366905, lng: -1.6760266},
{ lat: 48.1367692, lng: -1.6759446},
{ lat: 48.1368806, lng: -1.6758373},
{ lat: 48.1369644, lng: -1.675758},
{ lat: 48.1370189, lng: -1.6757213},
{ lat: 48.1371214, lng: -1.6756596},
{ lat: 48.1375754, lng: -1.6753998},
{ lat: 48.1375366, lng: -1.6752568},
{ lat: 48.1375043, lng: -1.6751383},
{ lat: 48.1374987, lng: -1.6751166},
{ lat: 48.1374704, lng: -1.6750101},
{ lat: 48.1375653, lng: -1.6749303},
{ lat: 48.1375716, lng: -1.6749158},
{ lat: 48.1375768, lng: -1.6749017},
{ lat: 48.1375809, lng: -1.6748831},
{ lat: 48.1375869, lng: -1.6748562},
{ lat: 48.1375885, lng: -1.6748374},
{ lat: 48.1375883, lng: -1.674824},
{ lat: 48.1375882, lng: -1.6748158},
{ lat: 48.1375753, lng: -1.6747997},
{ lat: 48.1375651, lng: -1.6747883},
{ lat: 48.1374737, lng: -1.6746988},
{ lat: 48.1374527, lng: -1.6746779},
{ lat: 48.1374115, lng: -1.6746288},
{ lat: 48.1373696, lng: -1.6745757},
{ lat: 48.1373066, lng: -1.6744921},
{ lat: 48.1372597, lng: -1.6744305},
{ lat: 48.1372458, lng: -1.6744137},
{ lat: 48.1371163, lng: -1.6742996},
{ lat: 48.1370811, lng: -1.6742663},
{ lat: 48.1370261, lng: -1.6742134},
{ lat: 48.1369892, lng: -1.6741752},
{ lat: 48.1368841, lng: -1.6740947},
{ lat: 48.1368034, lng: -1.6740353},
{ lat: 48.1367953, lng: -1.6740312},
{ lat: 48.1365853, lng: -1.6740738},
{ lat: 48.1365598, lng: -1.6740781},
{ lat: 48.1365534, lng: -1.6740793},
{ lat: 48.1365344, lng: -1.6739969},
{ lat: 48.136506, lng: -1.6737339},
{ lat: 48.1365043, lng: -1.6736223},
{ lat: 48.1365032, lng: -1.6735496},
{ lat: 48.1364965, lng: -1.6734825},
{ lat: 48.1364756, lng: -1.6732752},
{ lat: 48.1364789, lng: -1.6732543},
{ lat: 48.1364919, lng: -1.6731982},
{ lat: 48.1365106, lng: -1.6731394},
{ lat: 48.1365268, lng: -1.6730962},
{ lat: 48.1365455, lng: -1.6730688},
{ lat: 48.1365831, lng: -1.6730255},
{ lat: 48.1366075, lng: -1.6729923},
{ lat: 48.1366349, lng: -1.6729467},
{ lat: 48.1366849, lng: -1.6728479},
{ lat: 48.1367374, lng: -1.6727456},
{ lat: 48.1367594, lng: -1.6726972},
{ lat: 48.1367748, lng: -1.6726619},
{ lat: 48.1367891, lng: -1.6726185},
{ lat: 48.1368021, lng: -1.6725556},
{ lat: 48.1368328, lng: -1.6725367},
{ lat: 48.1368248, lng: -1.6724056},
{ lat: 48.1368202, lng: -1.6723321},
{ lat: 48.1368176, lng: -1.6721404},
{ lat: 48.1368188, lng: -1.6720286},
{ lat: 48.1368216, lng: -1.6719607},
{ lat: 48.1368285, lng: -1.6718567},
{ lat: 48.1368414, lng: -1.6717009},
{ lat: 48.1369139, lng: -1.6716241},
{ lat: 48.1369525, lng: -1.671611},
{ lat: 48.1369853, lng: -1.671597},
{ lat: 48.1370765, lng: -1.6715566},
{ lat: 48.1371128, lng: -1.671539},
{ lat: 48.137172, lng: -1.6715116},
{ lat: 48.1371911, lng: -1.6715028},
{ lat: 48.137232, lng: -1.6714839},
{ lat: 48.1372423, lng: -1.6714762},
{ lat: 48.1372536, lng: -1.6714675},
{ lat: 48.1372923, lng: -1.6714382},
{ lat: 48.1373894, lng: -1.6713468},
{ lat: 48.137429, lng: -1.6713189},
{ lat: 48.1374804, lng: -1.6712781},
{ lat: 48.1375525, lng: -1.6712143},
{ lat: 48.1376162, lng: -1.6712015},
{ lat: 48.1376703, lng: -1.6712198},
{ lat: 48.1376995, lng: -1.671136},
{ lat: 48.1377165, lng: -1.6711128},
{ lat: 48.1377246, lng: -1.6711022},
{ lat: 48.1377467, lng: -1.6710738},
{ lat: 48.137756, lng: -1.6710616},
{ lat: 48.1377671, lng: -1.671044},
{ lat: 48.1377736, lng: -1.6710229},
{ lat: 48.1377777, lng: -1.6710007},
{ lat: 48.1377758, lng: -1.6709768},
{ lat: 48.1377655, lng: -1.6708702},
{ lat: 48.1377402, lng: -1.6708235},
{ lat: 48.1377098, lng: -1.6707657},
{ lat: 48.1376758, lng: -1.6706728},
{ lat: 48.1375968, lng: -1.670508},
{ lat: 48.1375163, lng: -1.670356},
{ lat: 48.1374632, lng: -1.6702724},
{ lat: 48.1374528, lng: -1.6702497},
{ lat: 48.1374364, lng: -1.6701315},
{ lat: 48.1373095, lng: -1.6695901},
{ lat: 48.1383164, lng: -1.6690166},
{ lat: 48.1382966, lng: -1.6688963},
{ lat: 48.1383016, lng: -1.6688475},
{ lat: 48.1383172, lng: -1.6688342},
{ lat: 48.1383273, lng: -1.6688276},
{ lat: 48.1383844, lng: -1.668819},
{ lat: 48.138458, lng: -1.6688009},
{ lat: 48.1385297, lng: -1.6687799},
{ lat: 48.1386512, lng: -1.6687381},
{ lat: 48.1387182, lng: -1.668714},
{ lat: 48.1387622, lng: -1.6686975},
{ lat: 48.1388018, lng: -1.6686806},
{ lat: 48.1388207, lng: -1.6686725},
{ lat: 48.1389297, lng: -1.6686249},
{ lat: 48.1389283, lng: -1.6685792},
{ lat: 48.1389344, lng: -1.6685002},
{ lat: 48.1389439, lng: -1.6684025},
{ lat: 48.1389541, lng: -1.6682797},
{ lat: 48.1389555, lng: -1.6682628},
{ lat: 48.1389604, lng: -1.6682027},
{ lat: 48.138971, lng: -1.6681455},
{ lat: 48.1389795, lng: -1.6681351},
{ lat: 48.1390295, lng: -1.6680805},
{ lat: 48.1391096, lng: -1.6679969},
{ lat: 48.1392234, lng: -1.667885},
{ lat: 48.1392661, lng: -1.6678442},
{ lat: 48.1392941, lng: -1.6678168},
{ lat: 48.1393071, lng: -1.6678083},
{ lat: 48.1393207, lng: -1.6678009},
{ lat: 48.1393216, lng: -1.6677357},
{ lat: 48.1393547, lng: -1.6677188},
{ lat: 48.1393636, lng: -1.6677141},
{ lat: 48.1393854, lng: -1.6677034},
{ lat: 48.1394227, lng: -1.6676849},
{ lat: 48.1394766, lng: -1.6676583},
{ lat: 48.1395238, lng: -1.667637},
{ lat: 48.1395605, lng: -1.6676203},
{ lat: 48.1396038, lng: -1.6676029},
{ lat: 48.1396149, lng: -1.6675984},
{ lat: 48.139624, lng: -1.6675947},
{ lat: 48.1396417, lng: -1.6675914},
{ lat: 48.1396705, lng: -1.667586},
{ lat: 48.1397109, lng: -1.6675809},
{ lat: 48.1397713, lng: -1.6675805},
{ lat: 48.1398097, lng: -1.6675863},
{ lat: 48.1398269, lng: -1.6675887},
{ lat: 48.1398808, lng: -1.6675964},
{ lat: 48.1399653, lng: -1.6676179},
{ lat: 48.1399686, lng: -1.6676084},
{ lat: 48.1399781, lng: -1.6675943},
{ lat: 48.1400525, lng: -1.6674562},
{ lat: 48.1400754, lng: -1.6674137},
{ lat: 48.1400859, lng: -1.6673899},
{ lat: 48.1400922, lng: -1.6673724},
{ lat: 48.1400965, lng: -1.6673588},
{ lat: 48.1401168, lng: -1.6672601},
{ lat: 48.1401286, lng: -1.667161},
{ lat: 48.1401527, lng: -1.6669624},
{ lat: 48.1401629, lng: -1.6669051},
{ lat: 48.1401691, lng: -1.6668697},
{ lat: 48.1401776, lng: -1.666821},
{ lat: 48.1401793, lng: -1.6668116},
{ lat: 48.1401845, lng: -1.666786},
{ lat: 48.1401891, lng: -1.666761},
{ lat: 48.1402004, lng: -1.6667002},
{ lat: 48.1402221, lng: -1.6665853},
{ lat: 48.1402341, lng: -1.666542},
{ lat: 48.1402469, lng: -1.666506},
{ lat: 48.1402499, lng: -1.6664671},
{ lat: 48.1402533, lng: -1.6664236},
{ lat: 48.1403119, lng: -1.6664222},
{ lat: 48.1405691, lng: -1.6664145},
{ lat: 48.140586, lng: -1.6663735},
{ lat: 48.1405932, lng: -1.6663727},
{ lat: 48.140616, lng: -1.6663702},
{ lat: 48.1408431, lng: -1.6663441},
{ lat: 48.1408741, lng: -1.6663406},
{ lat: 48.1409218, lng: -1.666335},
{ lat: 48.1409303, lng: -1.6661722},
{ lat: 48.1411028, lng: -1.6661926},
{ lat: 48.1411986, lng: -1.6662084},
{ lat: 48.1412686, lng: -1.6662235},
{ lat: 48.1413542, lng: -1.6662451},
{ lat: 48.1414796, lng: -1.66627},
{ lat: 48.1415382, lng: -1.6662781},
{ lat: 48.1416365, lng: -1.6662908},
{ lat: 48.1416387, lng: -1.6663608},
{ lat: 48.1418381, lng: -1.6663545},
{ lat: 48.1418161, lng: -1.6655472},
{ lat: 48.1417985, lng: -1.6648591},
{ lat: 48.1417729, lng: -1.6639818},
{ lat: 48.1417648, lng: -1.6636661},
{ lat: 48.1417637, lng: -1.6636194},
{ lat: 48.1418443, lng: -1.6635617},
{ lat: 48.141993, lng: -1.6634447},
{ lat: 48.1421101, lng: -1.6633482},
{ lat: 48.1422493, lng: -1.6632397},
{ lat: 48.1424012, lng: -1.663144},
{ lat: 48.1426197, lng: -1.6629922},
{ lat: 48.1427937, lng: -1.6628751},
{ lat: 48.1429295, lng: -1.6627725},
{ lat: 48.1430154, lng: -1.6627075},
{ lat: 48.1430006, lng: -1.6626586},
{ lat: 48.1429802, lng: -1.6625407},
{ lat: 48.142852, lng: -1.6622258},
{ lat: 48.142786, lng: -1.6620883},
{ lat: 48.1426065, lng: -1.6616677},
{ lat: 48.1425855, lng: -1.661637},
{ lat: 48.1425617, lng: -1.6615764},
{ lat: 48.1425868, lng: -1.6615487},
{ lat: 48.1425892, lng: -1.6615407},
{ lat: 48.1425841, lng: -1.661511},
{ lat: 48.1425835, lng: -1.6615009},
{ lat: 48.1425842, lng: -1.6614924},
{ lat: 48.1425856, lng: -1.6614849},
{ lat: 48.1425882, lng: -1.6614776},
{ lat: 48.1425934, lng: -1.6614695},
{ lat: 48.1426029, lng: -1.6614595},
{ lat: 48.1426589, lng: -1.6614159},
{ lat: 48.1426815, lng: -1.6613962},
{ lat: 48.1427053, lng: -1.6613712},
{ lat: 48.14273, lng: -1.6613445},
{ lat: 48.1427391, lng: -1.6613312},
{ lat: 48.1427482, lng: -1.661317},
{ lat: 48.1427557, lng: -1.6613028},
{ lat: 48.1427684, lng: -1.6612779},
{ lat: 48.1427878, lng: -1.6612394},
{ lat: 48.1427809, lng: -1.6612274},
{ lat: 48.14276, lng: -1.6612159},
{ lat: 48.1427557, lng: -1.6612045},
{ lat: 48.1427557, lng: -1.6611912},
{ lat: 48.1427556, lng: -1.6611723},
{ lat: 48.1427618, lng: -1.6611338},
{ lat: 48.1427689, lng: -1.6610826},
{ lat: 48.1427729, lng: -1.6610488},
{ lat: 48.1427753, lng: -1.6610158},
{ lat: 48.1427772, lng: -1.6609784},
{ lat: 48.142777, lng: -1.6609473},
{ lat: 48.1427721, lng: -1.66072},
{ lat: 48.1427735, lng: -1.6607043},
{ lat: 48.1427816, lng: -1.6606421},
{ lat: 48.1427861, lng: -1.6606126},
{ lat: 48.1428088, lng: -1.6605394},
{ lat: 48.1428107, lng: -1.6605296},
{ lat: 48.1428113, lng: -1.6605214},
{ lat: 48.1428101, lng: -1.6605122},
{ lat: 48.1427985, lng: -1.6604419},
{ lat: 48.1427791, lng: -1.660377},
{ lat: 48.1427598, lng: -1.6602879},
{ lat: 48.1427369, lng: -1.6601866},
{ lat: 48.1427305, lng: -1.6601502},
{ lat: 48.1427145, lng: -1.6600548},
{ lat: 48.1427096, lng: -1.6600189},
{ lat: 48.1427078, lng: -1.6600034},
{ lat: 48.1427094, lng: -1.659994},
{ lat: 48.1427118, lng: -1.6599859},
{ lat: 48.1427183, lng: -1.6599768},
{ lat: 48.1427319, lng: -1.6599627},
{ lat: 48.1427438, lng: -1.6599546},
{ lat: 48.1427645, lng: -1.6599441},
{ lat: 48.1427793, lng: -1.6599387},
{ lat: 48.1428261, lng: -1.6599278},
{ lat: 48.142878, lng: -1.6599201},
{ lat: 48.1429518, lng: -1.659915},
{ lat: 48.1430792, lng: -1.6599094},
{ lat: 48.1431052, lng: -1.659903},
{ lat: 48.1431099, lng: -1.6598996},
{ lat: 48.1431107, lng: -1.6598449},
{ lat: 48.1431105, lng: -1.6597974},
{ lat: 48.1431001, lng: -1.6596172},
{ lat: 48.1430956, lng: -1.6594976},
{ lat: 48.1430878, lng: -1.6592882},
{ lat: 48.1430783, lng: -1.6591596},
{ lat: 48.1430745, lng: -1.6591214},
{ lat: 48.1430473, lng: -1.6588988},
{ lat: 48.1430304, lng: -1.6587661},
{ lat: 48.1430274, lng: -1.6587428},
{ lat: 48.1430152, lng: -1.6586642},
{ lat: 48.1430085, lng: -1.6585953},
{ lat: 48.1430006, lng: -1.6585148},
{ lat: 48.1429918, lng: -1.658409},
{ lat: 48.1429762, lng: -1.6582211},
{ lat: 48.14297, lng: -1.6581354},
{ lat: 48.1429641, lng: -1.6580058},
{ lat: 48.1429531, lng: -1.6578185},
{ lat: 48.1429526, lng: -1.6577933},
{ lat: 48.1429538, lng: -1.657755},
{ lat: 48.1429597, lng: -1.657616},
{ lat: 48.142964, lng: -1.657445},
{ lat: 48.1429671, lng: -1.6573803},
{ lat: 48.1429728, lng: -1.657286},
{ lat: 48.1429794, lng: -1.6571756},
{ lat: 48.1429729, lng: -1.6571249},
{ lat: 48.1429173, lng: -1.6571426},
{ lat: 48.1427364, lng: -1.6572036},
{ lat: 48.142719, lng: -1.6571049},
{ lat: 48.1427174, lng: -1.6570861},
{ lat: 48.1427123, lng: -1.6570545},
{ lat: 48.1426854, lng: -1.6568664},
{ lat: 48.1426729, lng: -1.6567411},
{ lat: 48.1426672, lng: -1.6566915},
{ lat: 48.142646, lng: -1.6566471},
{ lat: 48.1426423, lng: -1.6565771},
{ lat: 48.1426633, lng: -1.6564382},
{ lat: 48.1426725, lng: -1.6562583},
{ lat: 48.1426908, lng: -1.6560034},
{ lat: 48.1426683, lng: -1.6557994},
{ lat: 48.1426584, lng: -1.6557453},
{ lat: 48.1426487, lng: -1.655705},
{ lat: 48.1426226, lng: -1.6555984},
{ lat: 48.142613, lng: -1.6555667},
{ lat: 48.1425871, lng: -1.655437},
{ lat: 48.1425703, lng: -1.6553716},
{ lat: 48.1425409, lng: -1.6553398},
{ lat: 48.1425043, lng: -1.6553334},
{ lat: 48.142472, lng: -1.6548609},
{ lat: 48.1424301, lng: -1.6543086},
{ lat: 48.1423458, lng: -1.653642},
{ lat: 48.1423397, lng: -1.6535312},
{ lat: 48.1424426, lng: -1.6535028},
{ lat: 48.142428, lng: -1.6532386},
{ lat: 48.1423334, lng: -1.6532275},
{ lat: 48.1419696, lng: -1.6531708},
{ lat: 48.1417957, lng: -1.6531299},
{ lat: 48.1416536, lng: -1.6531455},
{ lat: 48.1416187, lng: -1.6531493},
{ lat: 48.1414615, lng: -1.6531629},
{ lat: 48.1413853, lng: -1.6531704},
{ lat: 48.1412952, lng: -1.6531893},
{ lat: 48.1412499, lng: -1.6531906},
{ lat: 48.1412316, lng: -1.653002},
{ lat: 48.1411471, lng: -1.6522232},
{ lat: 48.1411111, lng: -1.6519011},
{ lat: 48.1410979, lng: -1.6517714},
{ lat: 48.1410847, lng: -1.6516099},
{ lat: 48.1410716, lng: -1.6514068},
{ lat: 48.1409751, lng: -1.6514222},
{ lat: 48.140736, lng: -1.6514342},
{ lat: 48.1406798, lng: -1.6514339},
{ lat: 48.1406097, lng: -1.6514235},
{ lat: 48.1405434, lng: -1.6514245},
{ lat: 48.1405329, lng: -1.6514263},
{ lat: 48.1405218, lng: -1.6514281},
{ lat: 48.140507, lng: -1.6514307},
{ lat: 48.1404869, lng: -1.6514458},
{ lat: 48.1404714, lng: -1.6514647},
{ lat: 48.1404894, lng: -1.6514011},
{ lat: 48.1406451, lng: -1.6508519},
{ lat: 48.1410497, lng: -1.6498067},
{ lat: 48.1412986, lng: -1.6494948},
{ lat: 48.1416969, lng: -1.6490514},
{ lat: 48.1419725, lng: -1.6486628},
{ lat: 48.1420518, lng: -1.6485571},
{ lat: 48.1423188, lng: -1.6483626},
{ lat: 48.1425469, lng: -1.6482128},
{ lat: 48.1427137, lng: -1.6481175},
{ lat: 48.143255, lng: -1.6478041},
{ lat: 48.143482, lng: -1.6476224},
{ lat: 48.1436301, lng: -1.6474587},
{ lat: 48.1439597, lng: -1.6471568},
{ lat: 48.1441625, lng: -1.6470483},
{ lat: 48.1444221, lng: -1.646975},
{ lat: 48.1450142, lng: -1.6468853},
{ lat: 48.1453843, lng: -1.6468911},
{ lat: 48.1454017, lng: -1.6463608},
{ lat: 48.1453915, lng: -1.6459137},
{ lat: 48.14532, lng: -1.6455248},
{ lat: 48.1452148, lng: -1.6446967},
{ lat: 48.1451068, lng: -1.6433775},
{ lat: 48.1450743, lng: -1.6427076},
{ lat: 48.1452706, lng: -1.6425717},
{ lat: 48.1455459, lng: -1.6423389},
{ lat: 48.1459412, lng: -1.6418981},
{ lat: 48.1461121, lng: -1.6417777},
{ lat: 48.1462109, lng: -1.641671},
{ lat: 48.1464473, lng: -1.6413749},
{ lat: 48.1468031, lng: -1.640943},
{ lat: 48.147114, lng: -1.6406635},
{ lat: 48.1472558, lng: -1.6405727},
{ lat: 48.1473143, lng: -1.6405647},
{ lat: 48.1473692, lng: -1.6405898},
{ lat: 48.1483805, lng: -1.641254},
{ lat: 48.1486699, lng: -1.6406914},
{ lat: 48.148718, lng: -1.6405659},
{ lat: 48.148802, lng: -1.6404342},
{ lat: 48.1487934, lng: -1.6403867},
{ lat: 48.1488015, lng: -1.6403845},
{ lat: 48.1488906, lng: -1.6403831},
{ lat: 48.1489646, lng: -1.6402543},
{ lat: 48.1490731, lng: -1.6399556},
{ lat: 48.1491281, lng: -1.6397676},
{ lat: 48.1491731, lng: -1.6396157},
{ lat: 48.1492749, lng: -1.6391838},
{ lat: 48.1493152, lng: -1.6392048},
{ lat: 48.1497358, lng: -1.6394245},
{ lat: 48.1502583, lng: -1.6396388},
{ lat: 48.1504609, lng: -1.6397972},
{ lat: 48.1505693, lng: -1.6399084},
{ lat: 48.15071, lng: -1.6399985},
{ lat: 48.1507818, lng: -1.6400012},
{ lat: 48.1509449, lng: -1.6397459},
{ lat: 48.1510518, lng: -1.6397985},
{ lat: 48.1510885, lng: -1.6396861},
{ lat: 48.1510771, lng: -1.6396656},
{ lat: 48.1511182, lng: -1.6395767},
{ lat: 48.1511506, lng: -1.6395651},
{ lat: 48.1512431, lng: -1.6396278},
{ lat: 48.1513177, lng: -1.6395871},
{ lat: 48.1513689, lng: -1.6395632},
{ lat: 48.1513982, lng: -1.6395621},
{ lat: 48.1514346, lng: -1.6396166},
{ lat: 48.1515062, lng: -1.63969},
{ lat: 48.1515495, lng: -1.6397089},
{ lat: 48.1516247, lng: -1.6397279},
{ lat: 48.1517026, lng: -1.6397924},
{ lat: 48.1517846, lng: -1.6398267},
{ lat: 48.1518665, lng: -1.6398778},
{ lat: 48.1519626, lng: -1.6400053},
{ lat: 48.1520388, lng: -1.6400754},
{ lat: 48.1521013, lng: -1.6401455},
{ lat: 48.152144, lng: -1.6402325},
{ lat: 48.1521982, lng: -1.6402904},
{ lat: 48.15223, lng: -1.6403711},
{ lat: 48.152284, lng: -1.6404345},
{ lat: 48.1524114, lng: -1.6406004},
{ lat: 48.1525181, lng: -1.6407586},
{ lat: 48.1525841, lng: -1.6408257},
{ lat: 48.1526452, lng: -1.6409679},
{ lat: 48.1526736, lng: -1.6409933},
{ lat: 48.1527624, lng: -1.6409837},
{ lat: 48.1527943, lng: -1.6409863},
{ lat: 48.1528068, lng: -1.6410169},
{ lat: 48.1528037, lng: -1.6411423},
{ lat: 48.1527853, lng: -1.6413516},
{ lat: 48.1528081, lng: -1.6414453},
{ lat: 48.1528266, lng: -1.6414459},
{ lat: 48.1528552, lng: -1.6414114},
{ lat: 48.152904, lng: -1.6413898},
{ lat: 48.1529539, lng: -1.641396},
{ lat: 48.1530174, lng: -1.6414218},
{ lat: 48.1530768, lng: -1.6414667},
{ lat: 48.1531201, lng: -1.6415115},
{ lat: 48.1531551, lng: -1.6415548},
{ lat: 48.1534198, lng: -1.6418633},
{ lat: 48.1536686, lng: -1.6421619},
{ lat: 48.1537754, lng: -1.6422399},
{ lat: 48.1539697, lng: -1.6425237},
{ lat: 48.1539885, lng: -1.6429293},
{ lat: 48.1540019, lng: -1.6431341},
{ lat: 48.1540356, lng: -1.6432563},
{ lat: 48.1541021, lng: -1.6433734},
{ lat: 48.1541411, lng: -1.6436173},
{ lat: 48.1541531, lng: -1.6438116},
{ lat: 48.154167, lng: -1.6440823},
{ lat: 48.1541644, lng: -1.6441845},
{ lat: 48.1541257, lng: -1.6444421},
{ lat: 48.1540924, lng: -1.644697},
{ lat: 48.1541259, lng: -1.645094},
{ lat: 48.154159, lng: -1.6452871},
{ lat: 48.1542064, lng: -1.6456904},
{ lat: 48.154272, lng: -1.6461973},
{ lat: 48.1542451, lng: -1.6462625},
{ lat: 48.1542444, lng: -1.6463218},
{ lat: 48.1542529, lng: -1.6463535},
{ lat: 48.1542828, lng: -1.6463776},
{ lat: 48.1543086, lng: -1.6463813},
{ lat: 48.1543588, lng: -1.6467285},
{ lat: 48.1543673, lng: -1.6467497},
{ lat: 48.1547807, lng: -1.6477168},
{ lat: 48.1549232, lng: -1.6480528},
{ lat: 48.1549683, lng: -1.6481909},
{ lat: 48.154966, lng: -1.6484004},
{ lat: 48.1550147, lng: -1.6484727},
{ lat: 48.1550377, lng: -1.648581},
{ lat: 48.1550453, lng: -1.6486629},
{ lat: 48.1550385, lng: -1.6487538},
{ lat: 48.1550298, lng: -1.6488068},
{ lat: 48.1549931, lng: -1.6488875},
{ lat: 48.1549723, lng: -1.648904},
{ lat: 48.154913, lng: -1.6489134},
{ lat: 48.1548815, lng: -1.6489047},
{ lat: 48.1549056, lng: -1.6494109},
{ lat: 48.1549364, lng: -1.6495694},
{ lat: 48.1549775, lng: -1.6497303},
{ lat: 48.1551509, lng: -1.6504384},
{ lat: 48.15519, lng: -1.6505617},
{ lat: 48.1553407, lng: -1.6509939},
{ lat: 48.1553519, lng: -1.6510014},
{ lat: 48.1553912, lng: -1.6509763},
{ lat: 48.1553985, lng: -1.6509865},
{ lat: 48.1554415, lng: -1.6510104},
{ lat: 48.1554572, lng: -1.6510236},
{ lat: 48.1554705, lng: -1.6511137},
{ lat: 48.1555085, lng: -1.6512065},
{ lat: 48.155527, lng: -1.6512725},
{ lat: 48.1555446, lng: -1.6513572},
{ lat: 48.1555394, lng: -1.6513611},
{ lat: 48.1555547, lng: -1.6514023},
{ lat: 48.1555946, lng: -1.6515988},
{ lat: 48.1555991, lng: -1.6517522},
{ lat: 48.1556467, lng: -1.6518354},
{ lat: 48.1556713, lng: -1.651974},
{ lat: 48.1557795, lng: -1.6522196},
{ lat: 48.1557755, lng: -1.6523032},
{ lat: 48.1558389, lng: -1.652562},
{ lat: 48.1558266, lng: -1.6526323},
{ lat: 48.1558082, lng: -1.6526956},
{ lat: 48.1558152, lng: -1.6527759},
{ lat: 48.1559234, lng: -1.6527561},
{ lat: 48.1559999, lng: -1.6527741},
{ lat: 48.1560607, lng: -1.6528185},
{ lat: 48.1561355, lng: -1.6528628},
{ lat: 48.1560885, lng: -1.65305},
{ lat: 48.1563868, lng: -1.6532636},
{ lat: 48.1567108, lng: -1.6535517},
{ lat: 48.1568589, lng: -1.653704},
{ lat: 48.157065, lng: -1.6536301},
{ lat: 48.1571386, lng: -1.6536241},
{ lat: 48.1572728, lng: -1.6536155},
{ lat: 48.157403, lng: -1.6536203},
{ lat: 48.1576736, lng: -1.6536338},
{ lat: 48.1579723, lng: -1.6536517},
{ lat: 48.1582935, lng: -1.6536737},
{ lat: 48.1585078, lng: -1.653694},
{ lat: 48.1587194, lng: -1.653714},
{ lat: 48.1589941, lng: -1.6537534},
{ lat: 48.1591467, lng: -1.6537972},
{ lat: 48.1593523, lng: -1.65396},
{ lat: 48.1595253, lng: -1.6541003},
{ lat: 48.1597342, lng: -1.6542684},
{ lat: 48.1599096, lng: -1.6544266},
{ lat: 48.1601046, lng: -1.6546129},
{ lat: 48.1601852, lng: -1.6546915},
{ lat: 48.1603643, lng: -1.6549374},
{ lat: 48.1604336, lng: -1.6550895},
{ lat: 48.1605101, lng: -1.6553544},
{ lat: 48.1605988, lng: -1.6556875},
{ lat: 48.160821, lng: -1.6565612},
{ lat: 48.1609393, lng: -1.6568683},
{ lat: 48.1611241, lng: -1.657279},
{ lat: 48.1613757, lng: -1.6578773},
{ lat: 48.161493, lng: -1.6581744},
{ lat: 48.1615181, lng: -1.658332},
{ lat: 48.1615155, lng: -1.6584867},
{ lat: 48.1614682, lng: -1.6587172},
{ lat: 48.161267, lng: -1.6594713},
{ lat: 48.1611174, lng: -1.6600595},
{ lat: 48.1609283, lng: -1.6607252},
{ lat: 48.1607377, lng: -1.6614727},
{ lat: 48.160706, lng: -1.6616848},
{ lat: 48.1605854, lng: -1.6625215},
{ lat: 48.1605167, lng: -1.663415},
{ lat: 48.1605304, lng: -1.6641524},
{ lat: 48.160587, lng: -1.6652319},
{ lat: 48.1605985, lng: -1.6654928},
{ lat: 48.1606574, lng: -1.665823},
{ lat: 48.1606892, lng: -1.6659601},
{ lat: 48.1607441, lng: -1.6660715},
{ lat: 48.1608606, lng: -1.666233},
{ lat: 48.1607988, lng: -1.6663688},
{ lat: 48.1607683, lng: -1.6664171},
{ lat: 48.1607506, lng: -1.666469},
{ lat: 48.1608268, lng: -1.6667228},
{ lat: 48.1608314, lng: -1.6667985},
{ lat: 48.1608265, lng: -1.6669473},
{ lat: 48.1608832, lng: -1.667103},
{ lat: 48.1609352, lng: -1.6672744},
{ lat: 48.1609721, lng: -1.667358},
{ lat: 48.1609872, lng: -1.6674203},
{ lat: 48.1610196, lng: -1.6677177},
{ lat: 48.1610425, lng: -1.6679581},
{ lat: 48.1610043, lng: -1.6682121},
{ lat: 48.1609879, lng: -1.6683462},
{ lat: 48.1609886, lng: -1.6686454},
{ lat: 48.1610444, lng: -1.6689937},
{ lat: 48.1611628, lng: -1.6696792},
{ lat: 48.1612442, lng: -1.6700346},
{ lat: 48.1612557, lng: -1.6700886},
{ lat: 48.1612672, lng: -1.670131},
{ lat: 48.1613164, lng: -1.6707168},
{ lat: 48.1613976, lng: -1.6710306},
{ lat: 48.1616203, lng: -1.6715475},
{ lat: 48.1617666, lng: -1.6717825},
{ lat: 48.1617952, lng: -1.6717175},
{ lat: 48.1619514, lng: -1.6719056},
{ lat: 48.1618602, lng: -1.6722715},
{ lat: 48.1620448, lng: -1.6724422},
{ lat: 48.1620331, lng: -1.6724763},
{ lat: 48.162141, lng: -1.6727022},
{ lat: 48.1623402, lng: -1.6727521},
{ lat: 48.1625161, lng: -1.6728371},
{ lat: 48.1625237, lng: -1.6731355},
{ lat: 48.1625301, lng: -1.6737569},
{ lat: 48.1624806, lng: -1.6737589},
{ lat: 48.1624787, lng: -1.673802},
{ lat: 48.1624805, lng: -1.6740316},
{ lat: 48.162465, lng: -1.6741564},
{ lat: 48.1624395, lng: -1.6742753},
{ lat: 48.1624392, lng: -1.6743403},
{ lat: 48.1624419, lng: -1.6744563},
{ lat: 48.1624431, lng: -1.6744766},
{ lat: 48.1624791, lng: -1.6746957},
{ lat: 48.1625424, lng: -1.6750283},
{ lat: 48.162616, lng: -1.6753637},
{ lat: 48.1627022, lng: -1.6757819},
{ lat: 48.1627308, lng: -1.6758921},
{ lat: 48.1633863, lng: -1.6756923},
{ lat: 48.1643413, lng: -1.6753214},
{ lat: 48.1650989, lng: -1.6774373},
{ lat: 48.1654086, lng: -1.6774239},
{ lat: 48.1659905, lng: -1.6774407},
{ lat: 48.1663796, lng: -1.6773955},
{ lat: 48.1677634, lng: -1.6767993},
{ lat: 48.1679604, lng: -1.6767316},
{ lat: 48.1691356, lng: -1.6765609},
{ lat: 48.1703135, lng: -1.6761767},
{ lat: 48.1706421, lng: -1.6761199},
{ lat: 48.1709725, lng: -1.6761213},
{ lat: 48.1713411, lng: -1.6762039},
{ lat: 48.1714718, lng: -1.6762012},
{ lat: 48.1721438, lng: -1.6758481},
{ lat: 48.1724957, lng: -1.6756235},
{ lat: 48.1726391, lng: -1.6755037},
{ lat: 48.1727217, lng: -1.6754086},
{ lat: 48.1730013, lng: -1.6749201},
{ lat: 48.173178, lng: -1.6746719},
{ lat: 48.1732451, lng: -1.6746258},
{ lat: 48.1738756, lng: -1.6745435},
{ lat: 48.1744679, lng: -1.6745663},
{ lat: 48.1744813, lng: -1.6745245},
{ lat: 48.174491, lng: -1.6742762},
{ lat: 48.1744657, lng: -1.6741502},
{ lat: 48.174663, lng: -1.6740928},
{ lat: 48.1753101, lng: -1.6740658},
{ lat: 48.1753328, lng: -1.6745752},
{ lat: 48.1752515, lng: -1.6750419},
{ lat: 48.1750559, lng: -1.6750884},
{ lat: 48.17502, lng: -1.6751248},
{ lat: 48.1748649, lng: -1.6751467},
{ lat: 48.1748962, lng: -1.675728},
{ lat: 48.1749069, lng: -1.675928},
{ lat: 48.1749876, lng: -1.6759736},
{ lat: 48.174994, lng: -1.6763226},
{ lat: 48.1749582, lng: -1.6770445},
{ lat: 48.174908, lng: -1.6770745},
{ lat: 48.1748939, lng: -1.677127},
{ lat: 48.1749375, lng: -1.6773752},
{ lat: 48.174952, lng: -1.6778625},
{ lat: 48.1749859, lng: -1.6780596},
{ lat: 48.1749982, lng: -1.6786943},
{ lat: 48.1751092, lng: -1.6788089},
{ lat: 48.1753502, lng: -1.6802081},
{ lat: 48.1753636, lng: -1.6803495},
{ lat: 48.1754029, lng: -1.6804966},
{ lat: 48.1755337, lng: -1.6807692},
{ lat: 48.1755694, lng: -1.6809206},
{ lat: 48.1755966, lng: -1.6812358},
{ lat: 48.1755181, lng: -1.6816746},
{ lat: 48.175541, lng: -1.681903},
{ lat: 48.1755194, lng: -1.6823732},
{ lat: 48.1755045, lng: -1.6824356},
{ lat: 48.1755072, lng: -1.6825329},
{ lat: 48.1756118, lng: -1.6832295},
{ lat: 48.1756023, lng: -1.6833248},
{ lat: 48.1755518, lng: -1.6835061},
{ lat: 48.1755547, lng: -1.6835956},
{ lat: 48.1757426, lng: -1.6842267},
{ lat: 48.1758221, lng: -1.6843276},
{ lat: 48.1759034, lng: -1.6845335},
{ lat: 48.1760177, lng: -1.684614},
{ lat: 48.1760905, lng: -1.6847743},
{ lat: 48.1763288, lng: -1.6854613},
{ lat: 48.1763607, lng: -1.6855177},
{ lat: 48.176391, lng: -1.6855332},
{ lat: 48.1765062, lng: -1.685494},
{ lat: 48.1765914, lng: -1.6854945},
{ lat: 48.1767814, lng: -1.6855516},
{ lat: 48.1769282, lng: -1.6855455},
{ lat: 48.1772874, lng: -1.6856905},
{ lat: 48.1773971, lng: -1.6857972},
{ lat: 48.1774581, lng: -1.6858139},
{ lat: 48.1775175, lng: -1.6858014},
{ lat: 48.1776509, lng: -1.6857131},
{ lat: 48.1777093, lng: -1.6857091},
{ lat: 48.1779325, lng: -1.685796},
{ lat: 48.1781159, lng: -1.6859498},
{ lat: 48.1782477, lng: -1.6859626},
{ lat: 48.1784103, lng: -1.686162},
{ lat: 48.1786174, lng: -1.6865545},
{ lat: 48.1787406, lng: -1.6867461},
{ lat: 48.1788645, lng: -1.6870017},
{ lat: 48.1790675, lng: -1.6872399},
{ lat: 48.1791837, lng: -1.6874496},
{ lat: 48.1789381, lng: -1.6876188},
{ lat: 48.1792127, lng: -1.6883685},
{ lat: 48.1792964, lng: -1.6886642},
{ lat: 48.1794601, lng: -1.6893729},
{ lat: 48.1794476, lng: -1.6894068},
{ lat: 48.1792439, lng: -1.6895953},
{ lat: 48.1792374, lng: -1.6896194},
{ lat: 48.1793469, lng: -1.6899915},
{ lat: 48.1794931, lng: -1.6903463},
{ lat: 48.1800658, lng: -1.6920278},
{ lat: 48.1797672, lng: -1.6922801},
{ lat: 48.1793861, lng: -1.6925338},
{ lat: 48.1802489, lng: -1.695037},
{ lat: 48.1805286, lng: -1.6957092},
{ lat: 48.1805624, lng: -1.6957556},
{ lat: 48.1810158, lng: -1.6969826},
{ lat: 48.1817138, lng: -1.7006591},
{ lat: 48.1818044, lng: -1.7010819},
{ lat: 48.1818113, lng: -1.7011476},
{ lat: 48.1818029, lng: -1.7013903},
{ lat: 48.1819356, lng: -1.7024517},
{ lat: 48.1819568, lng: -1.7024791},
{ lat: 48.1821995, lng: -1.7024779},
{ lat: 48.1823367, lng: -1.7024564},
{ lat: 48.1826955, lng: -1.7025149},
{ lat: 48.1829472, lng: -1.7024767},
{ lat: 48.1829732, lng: -1.7025067},
{ lat: 48.1830628, lng: -1.7028372},
{ lat: 48.183143, lng: -1.7030303},
{ lat: 48.1834297, lng: -1.703513},
{ lat: 48.1836191, lng: -1.7037909},
{ lat: 48.1839934, lng: -1.7042059},
{ lat: 48.1840997, lng: -1.7043746},
{ lat: 48.1841588, lng: -1.7044383},
{ lat: 48.1844613, lng: -1.704672},
{ lat: 48.1847194, lng: -1.7048237},
{ lat: 48.1849176, lng: -1.7049213},
{ lat: 48.1849882, lng: -1.7049297},
{ lat: 48.1851448, lng: -1.7048965},
{ lat: 48.1851733, lng: -1.7049095},
{ lat: 48.1854888, lng: -1.7054086},
{ lat: 48.1855841, lng: -1.7055945},
{ lat: 48.1857757, lng: -1.7061506},
{ lat: 48.1861874, lng: -1.7070732},
{ lat: 48.186217, lng: -1.7071232},
{ lat: 48.1862393, lng: -1.7071272},
{ lat: 48.1863665, lng: -1.7070411},
{ lat: 48.186428, lng: -1.7070251},
{ lat: 48.1864993, lng: -1.7070355},
{ lat: 48.1865673, lng: -1.7070728},
{ lat: 48.1866281, lng: -1.7071331},
{ lat: 48.1866791, lng: -1.7072128},
{ lat: 48.186859, lng: -1.7077421},
{ lat: 48.1868559, lng: -1.707777},
{ lat: 48.1867054, lng: -1.7081193},
{ lat: 48.1866812, lng: -1.7081482},
{ lat: 48.1865938, lng: -1.708207},
{ lat: 48.1865738, lng: -1.7082461},
{ lat: 48.1865036, lng: -1.708911},
{ lat: 48.1864094, lng: -1.7096109},
{ lat: 48.1864052, lng: -1.7096999},
{ lat: 48.18642, lng: -1.7097232},
{ lat: 48.1865619, lng: -1.7098066},
{ lat: 48.1866089, lng: -1.709859},
{ lat: 48.1866439, lng: -1.7099377},
{ lat: 48.1867416, lng: -1.7102647},
{ lat: 48.186677, lng: -1.710281},
{ lat: 48.1866495, lng: -1.7103167},
{ lat: 48.1865858, lng: -1.7104631},
{ lat: 48.1865527, lng: -1.7105163},
{ lat: 48.1864547, lng: -1.7105187},
{ lat: 48.1864315, lng: -1.7105622},
{ lat: 48.1862795, lng: -1.7113455},
{ lat: 48.1862578, lng: -1.7113661},
{ lat: 48.1861512, lng: -1.7113204},
{ lat: 48.1861275, lng: -1.7113349},
{ lat: 48.1861011, lng: -1.7114356},
{ lat: 48.1859729, lng: -1.7124028},
{ lat: 48.1858931, lng: -1.7128926},
{ lat: 48.1858182, lng: -1.7132315},
{ lat: 48.1857588, lng: -1.7132399},
{ lat: 48.1856584, lng: -1.7132013},
{ lat: 48.1855781, lng: -1.7131546},
{ lat: 48.1854504, lng: -1.713045},
{ lat: 48.1853436, lng: -1.7129819},
{ lat: 48.1853282, lng: -1.7129996},
{ lat: 48.1852304, lng: -1.713226},
{ lat: 48.1852041, lng: -1.713216},
{ lat: 48.1850713, lng: -1.7130785},
{ lat: 48.1850002, lng: -1.7130199},
{ lat: 48.1848095, lng: -1.7129145},
{ lat: 48.1844511, lng: -1.7128213},
{ lat: 48.1835933, lng: -1.7125572},
{ lat: 48.1835601, lng: -1.7125594},
{ lat: 48.1835459, lng: -1.7125743},
{ lat: 48.1830219, lng: -1.7138901},
{ lat: 48.1829247, lng: -1.7140816},
{ lat: 48.1828753, lng: -1.7141653},
{ lat: 48.1829266, lng: -1.7143059},
{ lat: 48.1828771, lng: -1.7143648},
{ lat: 48.1828494, lng: -1.7143943},
{ lat: 48.1828009, lng: -1.7144195},
{ lat: 48.1826389, lng: -1.7144446},
{ lat: 48.1822847, lng: -1.714437},
{ lat: 48.1822508, lng: -1.7144481},
{ lat: 48.1822423, lng: -1.7144645},
{ lat: 48.1822462, lng: -1.7147271},
{ lat: 48.1822231, lng: -1.7147656},
{ lat: 48.1822305, lng: -1.7149808},
{ lat: 48.1822202, lng: -1.715105},
{ lat: 48.1821873, lng: -1.7152296},
{ lat: 48.1819086, lng: -1.7157856},
{ lat: 48.1818803, lng: -1.7158778},
{ lat: 48.1820156, lng: -1.715987},
{ lat: 48.1824935, lng: -1.7163144},
{ lat: 48.1825046, lng: -1.7163485},
{ lat: 48.1824803, lng: -1.7164991},
{ lat: 48.1824907, lng: -1.7165624},
{ lat: 48.182486, lng: -1.7166316},
{ lat: 48.1824129, lng: -1.7172639},
{ lat: 48.1823023, lng: -1.7175808},
{ lat: 48.1822077, lng: -1.7177383},
{ lat: 48.1821823, lng: -1.7177821},
{ lat: 48.1822938, lng: -1.7178229},
{ lat: 48.1823668, lng: -1.7178768},
{ lat: 48.182379, lng: -1.7179234},
{ lat: 48.1824122, lng: -1.7179664},
{ lat: 48.1824582, lng: -1.7180057},
{ lat: 48.1826154, lng: -1.7181124},
{ lat: 48.1826424, lng: -1.7180603},
{ lat: 48.1828566, lng: -1.7182379},
{ lat: 48.1830765, lng: -1.7183439},
{ lat: 48.1831805, lng: -1.7183898},
{ lat: 48.1831775, lng: -1.7184503},
{ lat: 48.1832581, lng: -1.7185206},
{ lat: 48.1834315, lng: -1.7186412},
{ lat: 48.1834686, lng: -1.7185437},
{ lat: 48.1837013, lng: -1.7186861},
{ lat: 48.1838336, lng: -1.718792},
{ lat: 48.1841611, lng: -1.7191565},
{ lat: 48.1840794, lng: -1.7193496},
{ lat: 48.1835242, lng: -1.7206559},
{ lat: 48.182706, lng: -1.7225657},
{ lat: 48.1822886, lng: -1.723508},
{ lat: 48.182076, lng: -1.7239076}
];
            // Construct the polygon.
            var bermudaTriangle = new google.maps.Polygon({
                paths: triangleCoords,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });
            bermudaTriangle.setMap(map);

            // Add a listener for the click event.
            bermudaTriangle.addListener('click', showArrays);

            infoWindow = new google.maps.InfoWindow;
        }

        /** this {google.maps.Polygon} */
        function showArrays(event) {
            // Since this polygon has only one path, we can call getPath() to return the
            // MVCArray of LatLngs.
            var vertices = this.getPath();

            var contentString = '<b>Bermuda Triangle polygon</b><br>' +
                'Clicked location: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
                '<br>';

            // Iterate over the vertices.
            for (var i = 0; i < vertices.getLength(); i++) {
                var xy = vertices.getAt(i);
                contentString += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
                    xy.lng();
            }

            // Replace the info window's content and position.
            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);

            infoWindow.open(map);
        }

    </script>
}