@model HomeViewModel
@{
    ViewData["Title"] = "Contact";
}

<h1 style="text-align:center">
    <span>Nous contacter</span>
</h1>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-body" style="background-image: url('/images/hands-typing-2654109_640x442.jpg');background-size: cover;padding:0px">
                <div class="h-100" style="background-color: black;background-size: cover;opacity: 0.62;margin:0px">
                    <div style="background-color:black;opacity:1;width:20%;height:20%">
                      dddd  @*<img src="https://media.licdn.com/dms/image/C4D03AQFvWfwopuNxfA/profile-displayphoto-shrink_200_200/0?e=1578528000&v=beta&t=a9qzjX8XEx6UJEtomBOK9lslklopjagniKCzPwWXWcQ" />*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
 </div>