@{
    ViewData["Title"] = "Gestion des cookies";
}

<h1 style="text-align:center">
    <span>@ViewData["Title"]</span>
</h1>

@*https://www.creditmutuel.com/fr/donnees-personnelles-et-gestion-des-cookies*@

<h6>Qu'est-ce qu'un cookie ?</h6>
<p>
    Un cookie est un fichier envoyé par un site à votre navigateur internet et stocké sur
    l'appareil qui vous a permis d'accéder à internet (votre ordinateur, tablette ou smartphone
    par exemple).
    <br />
    Les cookies que nous utilisons ne permettent pas de vous identifier directement,
    mais ils enregistrent des informations en fonction de l'utilisation que vous faites de notre site
    (navigation, espace personnel).
</p>

<h6>Pourquoi utiliser des cookies ?</h6>
<p>
    Les cookies utilisés sur ce site servent à sécuriser et faciliter votre navigation.
    <br />
    Ces cookies nous permettent également d'analyser la fréquentation du site,
    d'améliorer les services que nous vous proposons et d'en renforcer la sécurité.
    <br />
    Pour des raisons de sécurité, votre refus d'accepter un cookie est susceptible d'empêcher
    l'accès à certaines parties du site.
</p>

<h6>Paramétrer soi-même son navigateur pour accepter ou rejeter les cookies.</h6>
<p>
    Vous pouvez paramétrer votre navigateur pour accepter ou refuser au cas par cas
    les cookies préalablement à leur installation.
    <br />
    Par ailleurs, vous pouvez également régulièrement supprimer les cookies de votre
    poste via votre navigateur.
    <br />
    Pour savoir comment gérer vos cookies et vos préférences d'utilisation,
    vous pouvez consulter l'aide de votre navigateur :
    <ul>
        <li>
            Internet Explorer :
            <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies">Voir les explications</a>
        </li>
        <li>
            chrome :
            <a href="https://support.google.com/accounts/answer/61416?hl=fr&ref_topic=2373959">Voir les explications</a>
        </li>
        <li>
            Firefox :
            <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies?cache=no">Voir les explications</a>
        </li>
        <li>
            Safari :
            <a href="https://help.apple.com/safari/mac/9.0/?lang=fr#/sfri11471">Voir les explications</a>
        </li>
        <li>
            Opera :
            <a href="http://help.opera.com/Windows/9.20/fr/cookies.html">Voir les explications</a>
        </li>
        <li>
            Edge :
            <a href="https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy">Voir les explications</a>
        </li>
        <li>
            Google Chrome Android :
            <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=fr">Voir les explications</a>
        </li>
        <li>
            Safari IOS :
            <a href="https://support.apple.com/fr-fr/HT201265">Voir les explications</a>
        </li>
    </ul>
</p>

<h6>Donner ou refuser son consentement.</h6>
<p>
    Lorsque vous visitez notre site, un message vous informe de l'utilisation de cookies.
    Il vous indique également qu'en poursuivant votre navigation sur notre site, vous acceptez ces cookies
    (vous pouvez revenir sur cette décision à tout moment en vous opposant au dépôt des cookies).
    <br />
    Différents types de cookies sont utilisés sur notre site, ils ont des finalités différentes.
    Certains sont nécessaires à votre utilisation de notre site.
</p>

<h6>Les cookies strictement nécessaires.</h6>
<p>
    Il s'agit des cookies nécessaires au fonctionnement de notre site.
    <br />
    Ils vous permettent d'utiliser les principales fonctionnalités de notre site (par exemple l'accès à votre espace personnel).
    Sans ces cookies, vous ne pourrez pas utiliser notre site normalement. Il s'agit de cookies déposés qui ne concernent
    que le fonctionnement de notre site. Les « cookies essentiels » à l'utilisation de notre site ne sont pas soumis à consentement.
    <br />
    Les principaux « cookies essentiels » que nous utilisons :
    <table style="width:100%">
        <thead>
        <td>Nom</td>
        <td>Fonction</td>
        <td>Auteur</td>
        <td>Source du cookies</td>
        </thead>
        <tbody>
            <tr>
                <td>SessionStart</td>
                <td>Date/heure de début de session.</td>
                <td rowspan="2">Google</td>
                <td rowspan="2">Google Analytics</td>
            </tr>
            <tr>
                <td>SessionTimeout</td>
                <td>Timeout de session.</td>
            </tr>
        </tbody>
    </table>
</p>

<component type="typeof(WebApp.Components.Pager)" render-mode="ServerPrerendered"
           pageNumber = 1, totalRecords = 150, pageSize = 20, linkUrl = Url.PageLink("Index") />

<h6>Les cookies d'analyse de performances.</h6>
<p>
    Il s'agit des cookies qui nous permettent de connaître l'utilisation et les performances de notre site et d'en améliorer le fonctionnement.
    <br />
    Ces cookies ne sont pas encore utilisés sur notre site, ils seront prochainement mis en service.
</p>

<h6>Les cookies de réseaux sociaux.</h6>
<p>
    Notre site internet contiendra prochainement des boutons de partage vers Facebook, LinkedIn et Tweeter qui vous permettront de partager
    nos contenus sur ces réseaux sociaux.
    <br />
    Lorsque vous utiliserez ces boutons de partage, un lien sera fait avec les serveurs de ces réseaux sociaux et un cookie tiers sera installé après
    recueil de votre consentement. Si vous êtes connectés au réseau social lors de votre navigation sur notre site, les boutons de partage
    permettront de relier les contenus consultés à votre compte utilisateur.
    <br />
    Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de prendre connaissance
    des finalités d’utilisation des informations qu’ils peuvent recueillir grâce à ces boutons de partage.
</p>

<h6>Durée de vie des cookies.</h6>
<p>
    L'ensemble de ces cookies, hors cookies essentiels, a une durée de validité inférieure à 13 mois.
</p>