@{
    ViewData["Title"] = "Règlement général sur la protection des données";
}

@section Style {
    <link rel="stylesheet" href="~/css/noticePages.css" />
}

<h1 style="text-align:center">
    <span>@ViewData["Title"]</span>
</h1>

@*https://www.creditmutuel.com/fr/donnees-personnelles-et-gestion-des-cookies*@

<h5>Qu'est-ce que c'est ?</h5>
<p>
    Le règlement général sur la protection des données (RGPD), est un règlement de l'Union européenne
    qui constitue le texte de référence en matière de protection des données à caractère personnel.
    Il renforce et unifie la protection des données pour les individus au sein de l'Union européenne.
</p>
<a target="_blank" href="https://fr.wikipedia.org/wiki/R%C3%A8glement_g%C3%A9n%C3%A9ral_sur_la_protection_des_donn%C3%A9es" role="button" class="btn btn-primary">En savoir plus sur Wikipedia.org</a>

<h5>Notre engagement</h5>
<p>
    Notre entreprise (ou ci-après «  nous ») met tout en oeuvre pour respecter la confiance que vous nous accordez et
    traiter les données à caractère personnel que vous pouvez être amené à nous communiquer en conformité avec la réglementation applicable
    , y compris le Règlement général sur la protection des données personnelles (EU n°2016/679).
</p>
<a target="_blank" href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on" role="button" class="btn btn-primary">En savoir plus sur cnil.fr</a>

<h5>Qui collecte les données à caractère personnel</h5>
<p>
    Nous mettons tout en oeuvre pour respecter la confiance que vous nous accordez et
    traiter les données à caractère personnel que vous pouvez être amené à nous communiquer en conformité avec la réglementation applicable
    , y compris le Règlement général sur la protection des données personnelles (EU n°2016/679).
</p>
<a target="_blank" href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on" role="button" class="btn btn-primary">En savoir plus sur cnil.fr</a>

