@{
    ViewData["Title"] = "Règlement général sur la protection des données";
}

@section Style {
    <link rel="stylesheet" href="~/css/noticePages.css" />
}

<h1 style="text-align:center">
    <span>@ViewData["Title"]</span>
</h1>

@*https://www.creditmutuel.com/fr/donnees-personnelles-et-gestion-des-cookies*@
@*https://www.cnil.fr/fr/conformite-rgpd-information-des-personnes-et-transparence*@

<h5>Qu'est-ce que c'est ?</h5>
<p>
    Le règlement général sur la protection des données (RGPD), est un règlement de l'Union européenne
    qui constitue le texte de référence en matière de protection des données à caractère personnel.
    Il renforce et unifie la protection des données pour les individus au sein de l'Union européenne.
</p>
<a target="_blank" href="https://fr.wikipedia.org/wiki/R%C3%A8glement_g%C3%A9n%C3%A9ral_sur_la_protection_des_donn%C3%A9es" role="button" class="btn btn-primary">En savoir plus sur Wikipedia.org</a>

<h5>Notre engagement</h5>
<p>
    Notre entreprise (ou ci-après «  nous ») met tout en oeuvre pour respecter la confiance que vous nous accordez et
    traiter les données à caractère personnel que vous pouvez être amené à nous communiquer en conformité avec la réglementation applicable
    , y compris le Règlement général sur la protection des données personnelles (EU n°2016/679).
</p>
<a target="_blank" href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on" role="button" class="btn btn-primary">En savoir plus sur cnil.fr</a>

<h5>Qui collecte les données à caractère personnel</h5>
<p>
    Nous mettons tout en oeuvre pour respecter la confiance que vous nous accordez et
    traiter les données à caractère personnel que vous pouvez être amené à nous communiquer en conformité avec la réglementation applicable
    , y compris le Règlement général sur la protection des données personnelles (EU n°2016/679).
</p>
<a target="_blank" href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on" role="button" class="btn btn-primary">En savoir plus sur cnil.fr</a>

1. Finalités de traitement – Base juridique
En fonction des pages à partir desquelles vous nous transmettez vos données à caractère personnel, nous les traiterons pour les finalités suivantes :

Répondre aux messages et aux demandes que vous nous adressez par l’intermédiaire du formulaire « Nous contacter » et/ou de l’adresse email pressecontact@creditmutuel.fr ;
Traiter les candidatures que vous nous adressez par l’intermédiaire des rubriques dédiées à cet effet ;
Vous adresser des informations relatives au Crédit Mutuel, lorsque vous avez souscrit à l’envoi de notre lettre d’information.
Ces traitements sont mis en œuvre sur la base de votre consentement.


2. Destinataires des données personnelles
Vos données à caractère personnel seront transmises au personnel dûment habilité de la Confédération Nationale du Crédit Mutuel, ainsi qu’à ceux de ses prestataires qui sont conduits à traiter ces données pour le compte de la Confédération Nationale du Crédit Mutuel. En particulier, les informations recueillies à travers notre site Internet ne seront utilisées et ne feront l'objet de communication extérieure aux sociétés membres ou filiales du groupe Crédit Mutuel que pour les seules nécessités de la gestion ou pour satisfaire aux obligations légales et réglementaires. En aucun cas ces informations ne seront transmises ou a fortiori commercialisées à des tiers.


3. Durée de conservation
Vos données collectées dans le cadre d’une question adressée à la Confédération Nationale du Crédit Mutuel seront conservées le temps du traitement de cette question.

Vos données collectées en relation avec le dépôt de votre candidature seront conservées pendant le temps de son traitement et ensuite pendant une durée de deux ans sauf opposition de votre part, à moins que vous n’ayez consenti à leur conservation pour une durée supérieure.

Enfin, vos données collectées pour l’inscription à notre lettre d’information seront conservées jusqu’au retrait de votre consentement à la réception de cette lettre.



4. Vos droits
En application de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiée, et du Règlement général sur la protection des données UE n°2016/679, chaque personne dispose d’un droit d’accès, de rectification, d’opposition, d’effacement, de portabilité et à la limitation du traitement.

Vous avez le droit de retirer votre consentement à tout moment lorsque le traitement de vos données repose sur votre consentement. Vous disposez également du droit de définir des directives particulières pour le traitement de vos données après votre décès, ainsi que du droit d’introduire une réclamation auprès d’une autorité de contrôle.

Nous avons désigné un Délégué à la Protection des Données dont les coordonnées sont « Madame ou Monsieur le Délégué à la Protection des Données, Confédération Nationale du Crédit Mutuel, 88-90 rue Cardinet, 75017 Paris – France ».

Vous pouvez exercer vos droits en utilisant à votre convenance l'un ou l'autre des moyens suivants :

par courrier au Délégué à la Protection des Données dont les coordonnées sont « Madame ou Monsieur le Délégué à la Protection des Données, Confédération Nationale du Crédit Mutuel, 88-90 rue Cardinet, 75017 Paris – France » ;
par mail à l'adresse suivante : dpdcncm@creditmutuel.fr
Par ailleurs, si vous souhaitez à un moment ou à un autre modifier les informations vous concernant que vous nous avez transmises, vous avez la possibilité de le faire en nous adressant un mail en cliquant ici.

